* {
	text-align: center;
	font-family: 'Julius Sans One', sans-serif;
}


p {
	display: none;
}



h1 {
	margin-top: 60px;
	font-size: 60px;
}

h3 {
	font-size: 40px;
	margin-bottom: 40px;
}

form * {
	border: none;
	border-radius: none;
}


input {
	margin-top: 40px;
	font-size: 22px;
	color: black;
	background-color: rgba(178, 189, 181,71);
	border-radius: 20px;
	font-style: italic;
}

button {
	display: block;
	margin: 0 auto;
	text-align: center;
	font-size: 26px;
	background-color: rgba(0,0,0,0);
	color: black;
}

button:hover {
	color: white;
}


p {
	font-size: 30px;
	font-weight: lighter;
}

span {
	font-family: Helvetica;
	font-weight: bold;
}
