* {
	text-align: center;
	font-family: 'Julius Sans One', sans-serif;
}


body {
	background: url("http://subtlepatterns.com/patterns/retina_wood.png");
}

p {
	display: none;
}



h1 {
	margin-top: 60px;
	font-size: 60px;
}

h3 {
	font-size: 40px;
	margin-bottom: 40px;
}

form * {
	border: none;
	border-radius: none;
}


input {
	font-size: 30px;
	color: black;
	background-color: rgba(20,20,20,.3);
	font-family: Helvetica;
	font-weight: bold;
}

button {
	display: block;
	margin: 0 auto;
	text-align: center;
	font-size: 26px;
	background-color: rgba(0,0,0,0);
	color: black;
}

button:hover {
	font-size: 35px;
}


p {
	font-size: 30px;
	font-family: Helvetica;
	font-weight: bold;
}
